# from cmake .gitignore template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# custom
[Bb]uild/
bin/
.vscode/

# outputs from .hlsl shaders
shaders.hpp
*_vs.hpp
*_ps.hpp
